<%- include ('partials/header.ejs') %>
    <%- include ('partials/navigation.ejs') %>
        <!-- ======= About Section ======= -->
        <section id="about" class="about">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Acerca de Nosotros</h2>
                    <p>Somos una empresa seria que busca transparencia en procesos bancarios e inversiones.</p>
                </div>

                <div class="row">
                    <div class="col-lg-4">
                        <img src="/assets/img/Anthony2.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-8 pt-4 pt-lg-0 content">
                        <h3>Anthony Tandalla - Desarrollador Web.</h3>
                        <p class="font-italic">
                            Disfruto aprender de los demas, amo la programación.
                        </p>
                        <div class="row">
                            <div class="col-lg-6">
                                <ul>
                                    <li><i class="icofont-rounded-right"></i> <strong>Cumpleaños:</strong> 11 Febrero de 1998</li>
                                    <li><i class="icofont-rounded-right"></i> <strong>SitioWeb:</strong> https://github.com/atandalla</li>
                                    <li><i class="icofont-rounded-right"></i> <strong>Celular:</strong> 999 843 3386</li>
                                    <li><i class="icofont-rounded-right"></i> <strong>Ciudad:</strong> Quito, Ecuador</li>
                                </ul>
                            </div>
                            <div class="col-lg-6">
                                <ul>
                                    <li><i class="icofont-rounded-right"></i> <strong>Edad:</strong> 22</li>
                                    <li><i class="icofont-rounded-right"></i> <strong>Intereses:</strong> Estudiar</li>
                                    <li><i class="icofont-rounded-right"></i> <strong>Email:</strong> atandalla@est.ups.edu.ec</li>
                                    <li><i class="icofont-rounded-right"></i> <strong>Profesión:</strong> Estudiante</li>
                                </ul>
                            </div>
                        </div>
                        <p>
                            La siguiente aplicación permite tener un registro de los turnos con la fecha y hora correspondiente al día. De tal forma que se pueda tener control total en el Banco Pacífico

                        </p>
                    </div>
                </div>

            </div>
        </section>
        <!-- End About Section -->
        <%- include ('partials/footer.ejs') %>