<!--- HEADER DEL PROYECTO -->
<!-- ======= Header ======= -->
<header id="header" class="d-flex flex-column justify-content-center">

    <nav class="nav-menu">
        <ul>
            <li><a href="/"><i class="bx bx-home"></i> <span>Home</span></a></li>
            <li><a href="/turnos"><i class="bx bx-user"></i> <span>Contador</span></a></li>
            <li><a href="/reporteTurnos/1"><i class="bx bx-file-blank"></i> <span>Reportes</span></a></li>
            <li><a href="/about"><i class="bx bx-book-content"></i> <span>Conócenos</span></a></li>

        </ul>
    </nav>
    <!-- .nav-menu -->

</header>
<!-- End Header -->